@import "./general.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "IBM Plex Sans Regular";
  src: url(/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: "IBM Plex Sans Medium";
  src: url(/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: "Ahrefs Regular";
  src: url(/ahrefs_regular.woff2);
}

@font-face {
  font-family: "Ahrefs Bold";
  src: url(/ahrefs_bold.woff2);
}

@font-face {
  font-family: "Ahrefs Display";
  src: url(/ahrefs_display.woff2);
}

@font-face {
  font-family: "Ahrefs Condensed Bold";
  src: url(/ahrefs_condensedbold.woff2);
}

// pages
@import "./pages/updatedLayoutBlog.scss";
@import "./pages/NavbarPages.scss";
@import "./pages/FourOFour.scss";

// components
@import "./components/Layout.scss";
@import "./components/Hero.scss";
@import "./components/ArticleHero.scss";
@import "./components/ArticleLayout.scss";
@import "./components/OverallBlogs.scss";
@import "./components/Navbar.scss";
@import "./components/Footer.scss";
@import "./components/Category.scss";

// utils
@import "./utils/SocialShare.scss";
